* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0f3aba1;
  font-family: sans-serif;
  padding: 1em;
  color: white;
}

header,footer {
  background-color: #BCE784;
  padding: 2em;
  text-align: center;
  font-size: 1.2em;
  border-radius: 1em;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  gap: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.1em;
  padding: 0.5em 1em;
  background-color: #a7d574;
  border-radius: 1em;
}

section {
  background-color: #BCE784;
  padding: 1.5em;
  border-radius: 2em;
  font-size: 1em;
  margin-top: 1.5em;
  color: white;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 2em;
}

.image-container img {
  flex: 1 1 100%;
  max-width: 100%;
  border-radius: 1em;
}

/* MEDIA QUERIES: desktop styles */
@media (min-width: 1024px) {
  body {
    padding: 3em 5em;
  }

  nav {
    flex-direction: row;
    justify-content: center;
  }

  main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
  }

  section {
    flex: 1 1 30%;
    font-size: 1.1em;
  }

  .image-container img {
    flex: 1 1 30%;
  }
}